mixin message_alert()
    if (messages.success)
        div(class="alert") 
            i(class="fa-solid fa-circle-check success-icon")
            span(class="message-alert") #{messages.success}
    if (messages.error)
         div(class="alert") 
            i(class="fa-solid fa-circle-exclamation" style={"color":"#EF4444"})
            span(class="message-alert") #{messages.error}