include ../../mixin/message.pug
doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href='/css/page.css')
    link(rel='stylesheet', href='/css/components.css')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous")

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
  body
    if roleUser
      .layout-main
        include ./sidebar.pug
        div.main-content
          include ./header.pug
          +message_alert()
          block admin
    else  
      include ../not-found.pug

    script(src='https://kit.fontawesome.com/0bcc6600f3.js', crossorigin='anonymous')
    script(type="application/javascript" src= "/tinymce/tinymce.min.js")
    script(src="/js/my-tinymce-config.js")
    script(src="/js/app.js") 