include ../../mixin/item-sidebar.pug

.sidebar
  .sidebar-logo
    img.logo-image(src='/logohvh.png', alt='')
    h3.sidebar-title HVH
  .sidebar-menu
    if (roleUser.name_role == "Admin" || roleUser.permission == "all")
      +item-sidebar("/dashboard", '<i class="fa-solid fa-database"></i>', "Trang tổng quan")
    if roleUser.name_role == "Admin" || roleUser.permission == "all" || roleUser.permission.some(permission => /product/.test(permission))
      +item-sidebar("/admin/product", '<i class="fa-solid fa-cart-shopping"></i>', "Sản phẩm")
    if roleUser.name_role == "Admin" || roleUser.permission == "all" || roleUser.permission.some(permission => /auth/.test(permission))
      +item-sidebar("/admin/user", '<i class="fa-solid fa-user"></i>', "Người dùng")
    +item-sidebar("/admin/category", '<i class="fa-solid fa-layer-group"></i>', "Phân loại")
    if roleUser.name_role == "Admin" || roleUser.permission == "all" || roleUser.permission.some(permission => /role/.test(permission))

      +item-sidebar("/admin/role", '<i class="fa-solid fa-users"></i>', "Nhóm quyền")
  .sidebar-bottom
    .item-bottom
      i.fa-solid.fa-gear
      span Ca&#x300;i &dstrok;a&#x323;&#x306;t
    .item-bottom#theme
      i(class="icon-theme fa-solid fa-moon")
